/.metadata/
/helloWorld/node_modules
/helloWorld/dist
ionicApp/node_modules/
materialApp/yarn-error.log
PrimeNgApp/package-lock.json
materialApp/yarn-error.log
materialApp/yarn.lock
.idea/Lotto.iml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
PrimeNgApp/yarn.lock
PrimeNgApp/yarn.lock

ionicApp/plugins
ionicApp/www
.idea
ionicApp/.sourcemaps
ionicApp/platforms
