.example-card {
  max-width: auto;
}
.padding-cards
{
  padding-bottom: 30px;
}
.example-header-image {
  background-image: url('../../../assets/img/lotto.jpg');
  background-size: cover;
}
